<h1 mat-dialog-title>Tier Settings</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" cdkFocusInitial>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Colour</mat-label>
    <input matInput type="color" [(ngModel)]="data.color">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data"  color="primary" >Set</button>
</div>
