<div>

    <button mat-flat-button 
    matTooltip="Add Tier" 
    color="accent"
    (click)="clickAddTier()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Reset Everything" 
    (click)="clickResetButton()"
    color="warn">
        <mat-icon> layers_clear</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Save" 
    disabled>
        <mat-icon> save</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Load" 
    disabled>
        <mat-icon> folder_open</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Export to image" 
    (click)="downloadImage()">
        <mat-icon>image</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Caleb Button" 
    disabled>
        <mat-icon>cloud</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <div cdkDropListGroup>
        <div #tierlist class="list-container-column">
        <div class="tier-container" *ngFor="let tier of tiers">
            <div class="tier-column tier-column-name" [style.background-color]="tier.colorHex">
                <h2 title>{{tier.name}}</h2>                
            </div>
            <div class="tier-column tier-column-tier">
                <!--[cols]="gridBreakpoint"-->
                <mat-grid-list
                    cols="11"
                    cdkDropList
                    rowHeight="1:1"
                    [cdkDropListData]="tier.characters"
                    class="tier-list"
                    [ngStyle]="{'min-height':tier.characters.length > 0 ? '0px' : '60px' }"
                    (cdkDropListDropped)="drop($event)">
                        <mat-grid-tile *ngFor="let character of tier.characters"  cdkDrag>
                            <div class="tier-item">
                                <!--<img src="https://static.f-list.net/images/avatar/{{character.toLowerCase()}}.png"-->
                                <img src="{{character.profilePicURL}}"
                                class="tier-card-image" 
                                matTooltip="{{character.name}}"
                                matTooltipPosition="above" />
                            </div>
                        </mat-grid-tile>
                </mat-grid-list>
                <button mat-button 
                matTooltip="Edit tier" 
                (click)="clickChangeTierButton(tier)">
                    <mat-icon>build</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Delete" 
                (click)="clickDeleteTierButton(tier)"
                color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Move up" 
                (click)="clickMoveTierUpButton(tier)">
                    <mat-icon>expand_less</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Move down" 
                (click)="clickMoveTierDownButton(tier)">
                <mat-icon>expand_more</mat-icon>
                </button>
            </div>
        </div>
    </div>
        <div class="list-container-column">
            <mat-expansion-panel  id="unsorted-character-container"
            [expanded]="true" >
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Unsorted Characters
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-grid-list
                    [cols]="gridBreakpoint"
                    (window:resize)="onResize($event)"
                    rowHeight="2:1"
                    cdkDropList
                    [cdkDropListData]="unsortedCharacters"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                        <mat-grid-tile *ngFor="let character of unsortedCharacters"  cdkDrag>
                            <div class="tier-item">
                                <img src="{{character.profilePicURL}}"
                                class="unsorted-card-image" 
                                matTooltip="{{character.name}}"
                                matTooltipPosition="above" />
                                <a mat-icon-button href="https://www.f-list.net/c/{{character.name}}" target="_blank">
                                    <mat-icon>open_in_new</mat-icon>
                                </a>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-flat-button matTooltip="Add Character" (click)="clickAddCharacter()" color="accent">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-expansion-panel>
            </div>
      </div>
<!--For the html2canvas methods. This will remain invisible, but the tierlist HTML will be dumped to the canvas element, where it will then be saved.-->
<div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</div>