<div>

    <button mat-flat-button 
    matTooltip="Add Tier" 
    color="accent"
    (click)="clickAddTier()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Reset Everything" 
    (click)="clickResetButton()"
    color="warn">
        <mat-icon> layers_clear</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Save" 
    disabled>
        <mat-icon> save</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Load" 
    disabled>
        <mat-icon> folder_open</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Export to image" 
    (click)="downloadImage()">
        <mat-icon>image</mat-icon>
    </button>
    <button mat-flat-button 
    matTooltip="Caleb Button" 
    disabled>
        <mat-icon>cloud</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <div cdkDropListGroup>
        <div #tierlist class="list-container-column">
        <div class="tier-container" *ngFor="let tier of tiers">
            <div class="tier-column tier-column-name" [style.background-color]="tier.colorHex">
                <h2 title>{{tier.name}}</h2>                
            </div>
            <div class="tier-column tier-column-tier">
                <mat-grid-list
                    [cols]="gridBreakpoint"
                    cdkDropList
                    rowHeight="2:1"
                    [cdkDropListData]="tier.characters"
                    class="tier-list"
                    (cdkDropListDropped)="drop($event)">
                        <mat-grid-tile *ngFor="let character of tier.characters"  cdkDrag>
                            <div class="tier-item">
                                <!--<img src="https://static.f-list.net/images/avatar/{{character.toLowerCase()}}.png"-->
                                <img src="https://static.f-list.net/images/avatar/{{character.toLowerCase()}}.png"
                                class="tier-card-image" 
                                matTooltip="{{character}}"
                                matTooltipPosition="above" />
                            </div>
                        </mat-grid-tile>
                </mat-grid-list>
                <button mat-button 
                matTooltip="Rename" 
                (click)="clickChangeTierNameButton(tier)">
                    <mat-icon>title</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Change color" 
                (click)="clickChangeColorButton(tier)">
                    <mat-icon>color_lens</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Delete" 
                (click)="clickDeleteTierButton(tier)"
                color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Move up" 
                (click)="clickMoveTierUpButton(tier)">
                    <mat-icon>expand_less</mat-icon>
                </button>
                <button mat-button 
                matTooltip="Move down" 
                (click)="clickMoveTierDownButton(tier)">
                <mat-icon>expand_more</mat-icon>
                </button>
            </div>
        </div>
    </div>
        <div class="list-container-column">
            <mat-expansion-panel  id="unsorted-character-container"
            [expanded]="true" >
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Unsorted Characters
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-grid-list
                    [cols]="gridBreakpoint"
                    (window:resize)="onResize($event)"
                    rowHeight="2:1"
                    cdkDropList
                    [cdkDropListData]="unsortedCharacters"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                        <mat-grid-tile *ngFor="let character of unsortedCharacters"  cdkDrag>
                            <div class="tier-item">
                                <img src="https://static.f-list.net/images/avatar/{{character.toLowerCase()}}.png"
                                class="tier-card-image" 
                                matTooltip="{{character}}"
                                matTooltipPosition="above" />
                                <a mat-icon-button href="https://www.f-list.net/c/{{character}}" target="_blank">
                                    <mat-icon>open_in_new</mat-icon>
                                </a>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-flat-button matTooltip="Add Character" (click)="clickAddCharacter()" color="accent">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-expansion-panel>
            </div>
      </div>
      
    <!--
    <mat-grid-list cols="10" rowHeight="1:1" cdkDropList>

        <mat-grid-tile class="characterCard" 
        *ngFor="let character of unsortedCharacters" 
        cdkDrag >
            <mat-card >

            <div class="characterCardPfp" [style.background]="'url(https://static.f-list.net/images/avatar/'+character.toLowerCase().replaceAll(' ','%20')+'.png)'"
            matTooltip="{{character}}"
            matTooltipPosition="above" >

            </div>
            <mat-card-actions>
                <a mat-icon-button href="https://www.f-list.net/c/{{character}}" target="_blank">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
-->
<!--For the html2canvas methods-->
<div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</div>