.tier-item {
    border-bottom: solid 1px #ccc;
     display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
  }

  .tier-item:last-child {
    border: none;
  }
.tier-card-image {
    width: 70px;
    height: 70px;
}